body{
    background-color: grey;
}

article{
    background-color: white;
    width: 20%;
    margin: auto;
    border: 10px rgb(9, 9, 20) solid;
    padding: 30px;
    border-radius: 10px;
}

img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}